extends layout

block content
  h1.text-center.m-1 Скачать админ приложения Z-1
  .row.p-3
    .col.p-1.d-flex.justify-content-center
      a(href='/')
        img(alt='IOS Device', src='https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/1200px-Apple_logo_black.svg.png', width='50', height='50')
    .col.p-1.d-flex.justify-content-center
      a(href='/')
        img(alt='Android Device', src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Android_robot.svg/872px-Android_robot.svg.png', width='50', height='50')