extends layout

block content
  h1.text-center.m-1 Скачать админ приложения Z-1
  .row.p-3
    .col.p-1.d-flex.justify-content-center
      a(href='/')
        img(alt='IOS Device', src='itms-services://?action=download-manifest&url=/download-app-ios/.plist', width='50', height='50')
    .col.p-1.d-flex.justify-content-center
      a(href='/')
        img(alt='Android Device', src='itms-services://?action=download-manifest&url=/download-app-android/.apk', width='50', height='50')