extends layout

block content
  h1.text-center.m-1 Скачать админ приложения Z-1
  .row.p-3
    .col.p-1.d-flex.justify-content-center
      a(href='/itms-services://?action=download-manifest&url=/download-app-ios/.plist')
        img(alt='IOS Device', src='/img/apple_logo.svg', width='50', height='50')
    .col.p-1.d-flex.justify-content-center
      a(href='itms-services://?action=download-manifest&url=/download-app-android/.apk')
        img(alt='Android Device', src='/img/android_logo.png', width='50', height='50')